@import 'vars';

.asteroid {
    position: absolute;
    top: -10vw;
    height: 10vw;
    width: 10vw;
    border-radius: 30%;
    animation-name: asteroid-movement;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: aquamarine;
}

@keyframes asteroid-movement {
    0% {top: -10vw;}
    100% {top: 95vh;}
}