@import 'vars';

.moving-bg {
    position: relative;
    height: 100vh;
    width: 100vw;
    // background-color: rgba($color: #ffffff, $alpha: 0.8);
    z-index: 0;
}

.star {
    position: absolute;
    border-radius: 50%;
    animation-name: star-movement;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: #ffffff;
    // background-color: blue;

    &.small {
        height: 10px;
        width: 10px;
        top: 0px;
        animation-duration: 6s;

        &:nth-child(1) {
            left: 10vw;
            animation-delay: 0s;
        }

        &:nth-child(2) {
            left: 20vw;
            animation-delay: -3s;
        }

        &:nth-child(3) {
            left: 30vw;
            animation-delay: -1.5s;
        }

        &:nth-child(4) {
            left: 40vw;
            animation-delay: -4s;
        }
        
        &:nth-child(5) {
            left: 50vw;
            animation-delay: -2s;
        }

        &:nth-child(6) {
            left: 60vw;
            animation-delay: -5.5s;
        }

        &:nth-child(7) {
            left: 70vw;
            animation-delay: -3.5s;
        }

        &:nth-child(8) {
            left: 80vw;
            animation-delay: -0.8s;
        }
    }

    &.medium {
        height: 20px;
        width: 20px;
        top: 0px;
        animation-duration: 3s;

        &:nth-child(1) {
            left: 20vw;
            animation-delay: 0s;
        }

        &:nth-child(2) {
            left: 40vw;
            animation-delay: -1.5s;
        }

        &:nth-child(3) {
            left: 60vw;
            animation-delay: -0.5s;
        }

        &:nth-child(4) {
            left: 80vw;
            animation-delay: -2.5s;
        }
    }
}

@keyframes star-movement {
    // from {top: 0%;}
    // to {top: 100%;}
    0% {top: -20px;}
    100% {top: 100%;}
}